:root{
    --NS--Yellow: #ffc917;
    --NS--BG: #e6e6e6
}

*{
    margin: auto;
}

body{
    background-color: var(--NS--BG);
}

header{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;       
    font-size: 55px;
    height: 7.5625rem;
    width: 100vw;

    background-color: white;
    position: sticky;
    top: 0;
}

div{
    min-height: 25.825rem;
    width: 100vw;
    max-width: 40%;

    background-color: var(--NS--Yellow);
}
/* example */
/* form fieldset:nth-of-type(1):has(#checkkers:checked) fieldset:nth-of-type(2){
    display: none;
}

form fieldset:nth-of-type(2):has(#checkkers:checked) fieldset:nth-of-type(2){
    display: none;
} */

form fieldset:has(#disable1C:checked) {
    label{
        display: none;
    }

    input:nth-of-type(n+3){
        display: none;
    }
    
}

progress{
    width: 100%;
}