:root{
    --NS--Yellow: #ffc917;
    --NS--BG: #e6e6e6;
    --NS-Text: #003082;
    --NS-Button: #0063D3;
    --NS-bar-itmes: 7.5625rem;
}

*{
    margin: auto;
}

body{
    background-color: var(--NS--BG);
    font-family: sans-serif;
    color: var(--NS-Text);
}

header{
    height: 7.5625rem;
    width: 100%;

    background-color: white;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
}



#down{
    max-height:  7.5625rem;
    max-width:  7.5625rem;;
}

h1{
    font-size: 20px;
}

div{
    box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
    /* min-height: 25.825rem; */
    width: 100vw;

    @media screen and (min-width:800px) {
        max-width: 40%;
    }

    background-color: white;

    margin-bottom: 10px;
}

/* example */
/* form fieldset:nth-of-type(1):has(#checkkers:checked) fieldset:nth-of-type(2){
    display: none;
}

form fieldset:nth-of-type(2):has(#checkkers:checked) fieldset:nth-of-type(2){
    display: none;
} */

label{
    display: block;
    margin-block-start: 1rem;
    margin-top: 0;

    font-style: italic;
}


input:last-child{
    display: block;
}

h3{
    text-align: center;
}

label.invisable{
    display: block;
}

input.invisable{
    display:initial;
}


/* html:has([value="checkes"]:checked){
    --chs: true;
} */



input[type=radio]{
    margin-top: 10px;
    margin-bottom: 0;
}

input[type="submit"]{
    background-color: var(--NS-Button);
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 -.125rem 0 var(--NS-Button);
    color: var(--NS--BG);
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5625rem;
    min-width: 7.5rem;
    padding: .625rem 1.125rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15sease-in-out;
    white-space: nowrap;

    margin-top: 50px;
    margin-bottom: 30px;
}

input[type="submit"]:hover{
    background-color: #004BA0;
}

fieldset{
    border-style: none;
}

.clean-section{
    display: flex;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;

    margin-top: 10px;

    & > label{
        max-width: 70%;
    }
}

html:has([value="checkes"]:not(:checked)) .invisable{
    display: none;
}

#logo{
    max-height:  var(--NS-bar-itmes);
    max-width:  var(--NS-bar-itmes);
}


#progress-circle{
    max-height:  calc(var(--NS-bar-itmes) * 0.5);
    max-width:  calc(var(--NS-bar-itmes) * 2);

    background-color: var(--NS-Text);

    height: 100%;
    width: 100%;

    border-radius: 10px;

    display: grid;
    align-items: center;
    justify-content: center;

    animation: load 4s infinite;

    box-shadow: none;

    margin: auto;
}

#progress-circle::after{
    content: "";
    display: block;
    border-radius: 10px;
    
    height: 50%;
    width: calc(var(--NS-bar-itmes) * 1.8);
    /* background-color: var(--NS-Button); */
    margin: auto;

    grid-column-start: 1;
    grid-row-start: 1;

    z-index: 1;

    background-color: var(--NS-Button);
}
@property --h {
    syntax: '<number>';
    inherits: false;
    initial-value:0;
}

@keyframes load{
    0%{
        --h: 0;
    }
    100%{
        --h: 1;
    }
}

#progress-circle::before{
    content: "";
    display: block;
    border-radius: 10px;
    
    height: 20%;
    width: calc(var(--NS-bar-itmes) * 1.6);
    /* background-color: var(--NS--Yellow); */
    margin: auto;

    grid-column-start: 1;
    grid-row-start: 1;

    z-index: 2;

    animation: load 4s infinite linear;

    background: linear-gradient(90deg, var(--NS--Yellow) calc(100% * var(--h)), rgba(255,255,255,1) calc(100% * var(--h)));
}

input[type="text"], input[type="number"]{
    height: 1.5625rem;
    border-radius: .25rem;
    background-color: transparent;
    border-left-width: .0625rem;
    box-shadow: 0 0 #fff;
    transition: all .2s cubic-bezier(.7,.27,.27,1), padding-left 0s;
    color: #003082;
    text-overflow: ellipsis;
    text-align: center;
}